<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>NK-Master</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
</head>
<body>
<style>
    .my_logo{
        height:40px;
        width:auto;
        max-width:500px;
        margin-right: 15px;
        margin-top: -12px;
        margin-left: 15px;
    }
</style>

<nav class="navbar navbar-expand-md bg-body-tertiary">
    <div class="container-fluid">
    <a class="navbar-brand" href="/">
        <img src="../static/logo.png " alt="Logo" class="my_logo"><h2 style="display: inline-block;">NK-Master</h2></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="/">Start</a>
                <a class="nav-link" href="/theorie">Theorie</a>
                <a class="nav-link" href="/uebungen">Übungen</a>
            </div>
            <div class="navbar-nav ms-auto">
                <a class="nav-link" href="/login">Anmelden</a>
                <a class="nav-link" href="/register">Registrieren</a>
            </div>
        </div>
    </div>
</nav>
<div class="container mt-3">
    <div class="row my-4">
        <div class="col-8 offset-2">
            <h4>Nomenklatur</h4>
            <br>
            <p>Die grundlegenden Regeln zur Benennung von anorganischen Molekülen geht nach IUPAC. Die IUPAC-Nomenklatur verfolgt den Zweck, chemischen Verbindungen durch ihren Namen deren Aufbau eindeutig zuordnen zu können.</p>
            <br>
            <h6>In dieser Lerneinheit lernst du…</h6><br>
            <p>…was ein Kohlenwasserstoff ist</p>
            <p>…die vier Gruppen von Kohlenwasserstoffen</p>
            <p>…wie man unverzweigte Alkane benennt</p>
            <p>…wie man Alkene und Alkine benennt</p>
            <p>…wie man verzweigte Alkane benennt</p>
            <p>…die wichtigsten funktionellen Gruppen und wie man sie benennt</p>
            <br>
            <h6>Was versteht man unter einem Kohlenwasserstoff?</h6><br>
            <p>Ein Kohlenwasserstoff ist ein Molekül, das ausschliesslich aus Kohlenstoff- und Wasserstoffatomen aufgebaut ist.</p>
            <img src="../static/theorie_nomenklatur/Kohlenwasserstoff.png" alt="Kohlenwasserstoff" class="img-thumbnail mb-4 mt-2">
            <p>Zur Bennenung von Kohlenwasserstoffen, teilt man die Kohlenwasserstoffe in vier Gruppen ein.</p>
        </div>
    </div>
</div>
</body>
</html>