{% extends "base.html" %}
    {% block content %}
        <div class="container">
            <div class="row my-4">
                <div class="col-8 offset-2">
                    <h6>Verwendete Bilder und Icons</h6><br>
                    <p>Icon für NK-Master-Logo und Favicon: <a href="https://www.flaticon.com/de/kostenlose-icons/molekular" title="molekular Icons">Molekular Icons erstellt von Freepik - Flaticon</a></p>
                    <p>Theoriebuch-Icon im Abschnitt Theorie für das Kapitel Nomenklatur: <a href="https://www.flaticon.com/de/kostenlose-icons/kennt" title="kennt Icons">Kennt Icons erstellt von Vectoricons - Flaticon</a></p>
                    <p>Chemie-Icon im Abschnitt Übungen für alle Übungen: <a href="https://www.flaticon.com/de/kostenlose-icons/experiment" title="experiment Icons">Experiment Icons erstellt von Freepik - Flaticon</a></p>
                </div>
            </div>
        </div>
{% endblock %}