{% extends "base.html" %}
{% block content %}

<div class="container mt-3">
    <div class="row text-start my-4">
        <div class="col-8 offset-2">
            <h2>Theorie</h2>
        </div>
    </div>

    <div class="row text-start my-4">
        <div class="col-8 offset-2">
            <div class="card mb-3" style="max-width: 540px;">
                <div class="row g-0">
                    <div class="col-md-4 my-4">
                        <img src="../static/website_images/Chemie_Theorie.png" class="img-fluid rounded-start card_img" alt="Theorie-Buch">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">Nomenklatur</h5>
                            <p class="card-text">
                                Lerne was ein Kohlenwasserstoff ist, wie man unverzweigte Alkane benennt, wie man Alkene / Alkine benennt und wie man verzweigte Alkane benennt.

                            </p>
                            <a href="theorie/nomenklatur" class="btn btn-dark">Lernen</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock %}